
        <button class="building-block-bar-button theme-btn">
            <span class="building-block-icon material-icons" style="color: var(--info);">color_lens</span>
            <span class="theme-text"><%=i18n.escapeRoom.steps.indications.front.theme%>: <span id="theme-title"><%=theme[0].toUpperCase() +  theme.slice(1)%></span></span>
        </button>
