<div style="height:200px;overflow-y:scroll;border:solid">
        <button> <a  style="color:black" href="/reusablePuzzlesInstances/new"> Añadir puzzle </a></button>
        <div style="display:flex;flex-direction:row;justify-content:space-between">
                <p> Mi laberinto </p>
                <div>
                    <button> <a style="color:black" href="/reusablePuzzlesInstances/1"> Editar </a> </button>
                    <button> Borrar </button>
                    <button onclick='insertContent(0,"catalog",{url:"/uploads/f6c34eee3d46adc4bc3bf427a0cef796ce1bb16cae2248401759ccef39ed744f", mime:"image/jpeg"}, puzzleList)'> Añadir </button>
                </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-between">
                <p> Paneles </p>
                <div>
                    <button> Editar </button>
                    <button> Borrar </button>
                    <button> Añadir </button>
                </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-between">
                <p> Cables </p>
                <div>
                    <button> Editar </button>
                    <button> Borrar </button>
                    <button> Añadir </button>
                </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-between">
                <p> Nombre </p>
                <div>
                    <button> Editar </button>
                    <button> Borrar </button>
                    <button> Añadir </button>
                </div>
        </div>
</div>
