

<form method="get" action="/escapeRooms<%=admin? 'Admin':''%>" class="escapeRoomSearch"> 
     
    <div class="escapeRoomFilters">
        <input type="text" title="<%=search%>" id="searchbar" name="search" placeholder="<%=i18n.common.search%>" value="<%=search%>" />
        <button type="submit" class="rounded filter-button"><span>search</span></button>
    </div>
</form> 