node_modules/
.idea
*.env
escaperoom.sqlite
!uploads/
uploads/*
!uploads/thumbnails/
uploads/thumbnails/*
!uploads/thumbnails/.gitkeep
!uploads/webapps/
uploads/webapps/*
!uploads/webapps/.gitkeep
!uploads/instructions
uploads/instructions/*
!uploads/instructions/.gitkeep
migrate.sh
seed.sh
*.pem
.vscode
.DS_Store
*.code-workspace
catalog/*
public/terms/*
!public/terms/.gitkeep
public/privacy/*
!public/privacy/.gitkeep
public/cookies/*
!public/cookies/.gitkeep
reusablePuzzles/installed/*
!catalog/example.pd
reusablePuzzles/installed/*

