<%- include ("../partials/_header.ejs") %>

<%- include ("_scene_maker_config", {editor: true, preview: false, sceneId, sceneJSON, escapeRoomId, nPuzzles, user, lang}) %>
<!-- <%- include ("_scene_maker_scale", {editor: true}) %> -->

<div id="scene_maker_container" class="scene_container">
  <iframe id="scene_maker_iframe" src="/scene_maker/editor" width="1200" height="750" allowfullscreen></iframe>
</div>

<%- include ("../partials/_footer.ejs") %>