<!DOCTYPE html>
<html lang="<%=i18n.lang%>">
<head>
    <meta charset="utf-8">
    <title>Scene Maker Editor</title>
    <%- include ("_editor_dependencies", {}) %>
</head>
<body>
    <%- include ("_editor", {}) %>
</body>