<%- include ("_editor_config", {escapeRoomId, nPuzzles}) %>

<div style=" position:fixed; inset:0; display:flex; justify-content:center; align-items:center; background:#f1f1f1;">
  <iframe src="/scene_maker/editor" width="1200" height="750" style="border:0" allowfullscreen></iframe>
</div>