<%- include ("_scene_maker_config", {escapeRoomId, nPuzzles, user, lang}) %>

<div class="scene_container">
  <iframe src="/scene_maker/editor" width="1200" height="750" allowfullscreen></iframe>
</div>