<!DOCTYPE html>
<html lang="<%=i18n.lang%>">
<head>
    <meta charset="utf-8">
    <title>Scene Maker Viewer</title>
    <%- include ("_scene_maker_config", {editor: false, preview, sceneId, sceneJSON, escapeRoomId, nPuzzles, user, lang}) %>
    <%- include ("_viewer_dependencies", {}) %>
</head>
<body>
    <%- include ("_viewer", {}) %>
</body>