<%- include ("_scene_maker_config", {editor: false, sceneId, sceneJSON, escapeRoomId, nPuzzles, user, lang}) %>

<div class="scene_container">
  <iframe src="/scene_maker/viewer" width="1200" height="750" allowfullscreen></iframe>
</div>