<!DOCTYPE html>
<html lang="<%=i18n.lang%>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scene Maker Viewer</title>

    <%- include ("_viewer_dependencies", {}) %>
</head>
<body>
    <%- include ("_viewer", {}) %>
</body>