<%- include ("../partials/_header.ejs") %>
<div role="main" class="main">
    Report content
    <form method="POST">
        <div>
            <label for="reason">Motivo</label>
            <select id="reason" name="reason" >
                <option value="r1"> Motivo 1</option>
                <option value="r1"> Motivo 2</option>
                <option value="r1"> Motivo 3</option>
                <option value="r1"> Motivo 4</option>
                <option value="r1"> Motivo 6</option>
            </select>
            <label for="comments">Comentarios adicionales</label>
            <input type="text" id="comments" name="comments" >
            <input type="submit" value="Enviar">
        </div>
    </form>
</div>
