.collaborators
    .filters
        input
            width: 500px
            max-width: 50%
    .flex-table-wrapper
        .flex-ctype, .flex-alias, .flex-email
            flex: 1
        .flex-actions
            button 
                padding: 2px
                span
                    font-size: 1em
    span.collaborator_status_pending
        background: black
        color: white
        border: 1px solid white
        border-radius: 5px
        padding: 7px !important
        user-select: none