#mainSection
  .main
    &.step-instructions
      video, iframe
        max-width: 100%
      .building-block-img
        height: 25px
        vertical-align: middle
      .building-block-bar
        // background-color: white
        display: inline-block
        padding: 0px
        .building-block-bar-button
          background: none
          border: none
          line-height: 20px
          padding: 2px 8px
          border: 0.1em solid #ffffff
          border-radius: 5px
          color: white
          font-size: 16px
          &:hover
            background: white
            color: $darkerpurple
          .building-block-icon.material-icons
            font-size: 28px
            width: 24px
            color: $darkerpurple
            vertical-align: middle
            line-height: 25px
          &.theme-btn
            background: white
            color: $darkerpurple
            .theme-text
              color: $darkerpurple
        .building-block-bar-separator
          height: 40px
          width: 0px
          display: none
          background-color: white
          display: inline-block
          vertical-align: middle
          margin-right: 0px
          margin-left: 0px

      .building-block
        position: relative
        border: 5px solid white
        margin: 20px 0px
        min-height: 100px
        background-color: white
        .block-config
          width: 30px
          background-color: $brightyellow
          top: 5px
          left: -35px
          position: drop-shadow(0 0mm 4mm rgb(0, 0, 00))solute
          border-radius: 0px
          text-align: center
          border-radius: 5px 0px 0px 5px
          .block-config-button
            padding: 2px
            width: 20px
            height: 30px
            background: none
            border: none
            display: inline-block
            position: relative
            .material-icons
              font-size: 18px
              color: $darkerpurple
              display: inline-block

      .editor-wrapper
        background-color: var(--bckg)
        color: black
        &.indications .editor
          background-color: $bckg
        #editor
          min-height: 300px
      .editor
        box-sizing: border-box
        line-height: 1.42
        height: 100%
        outline: none
        overflow-y: auto
        padding: 12px 15px
        padding-top: 0px
        tab-size: 4
        -moz-tab-size: 4
        text-align: left
        white-space: inherit
        word-wrap: break-word
      #dialog-gallery
        padding: 0
        background-color: white
        outline: none
        border: none
      .ui-dialog
        outline: none !important
        box-shadow: 2px 2px 10px #cecece
        background: white
        transform: translateY(65px)
      .ui-dialog-title
        line-height: 50px
        padding-left: 15px
        font-size: 22px
      .ui-dialog-titlebar-close
        visibility: hidden
        float: right
        width: 50px
      .ui-sortable-placeholder
        margin: 20px 0px
        height: 100px
        border: 5px dashed var(--brightyellow)
        &::after
          content: var(--placeholder-text)
          display: block
          line-height: 100px
          vertical-align: middle
          color: var(--brightyellow)
          text-align: center
      .ui-button-icon-space
        visibility: visible
        &:after
          content: '\e5cd'
          font-family: 'Material Icons'
      .ui-dialog .ui-dialog-titlebar
        background: white !important
        border-color: white !important
        color: $lightred
      .gallery-msg
        color: $textpurple
        font-family: Lato, sans-serif !important
        font-size: 0.8em
        padding: 25px
        padding-top: 0px
        padding-bottom: 0px
        label
          font-family: inherit !important
        input[type=radio]
          height: 14px
          font-family: inherit !important
        .fileUrlInput
          background: none
          border: none
          color: $textpurple !important
          font-family: Lato, sans-serif !important
          font-size: 0.8em
          -webkit-text-fill-color: $textpurple !important
          padding-left: 0px
          margin-left: 25px
          text-align: left
          width: 70%
          border-bottom: 2px solid $lightred
          border-radius: 0px
          padding-bottom: 0px
          height: 2em
          margin-bottom: 1em
          caret-color: $textpurple
          &:hover, &:active, &:focus
            color: $lightred !important
            -webkit-text-fill-color: $lightred !important
      #uploadNew
        @include common-button
        border-radius: 25px !important
        padding: 8px 20px !important
        font-size: 15px
        background-color: $brightyellow
      #assetsForm
        margin-left: 50px
        margin-right: 20px
        border: 2px dashed $brightyellow
        padding: 0px
        .dz-preview
          *
            cursor: pointer
          .dz-image
              border: 2px solid #fff
              img
                object-fit: cover
                height: 100%
                opacity: 0
                border-radius: 20px
                border: 5px solid white
              img[src]
                opacity: 1
          .dz-filename
            span
              font-family: Lato, sans-serif
          &.file-selected
            .dz-image
              border: 2px solid $brightgreen
      .ui-dialog-buttonset
        text-align: right
        padding: 5px
        .ui-button
          @include common-button
          border-radius: 25px !important
          padding: 8px 25px !important
          font-size: 18px
          &:first-child
            background-color: $brightgreen
          &:last-child
            background-color: $lightred
      .gamification-elements
        padding: 20px
        padding-left: 50px
        padding-top: 0px
        display: flex
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
        .gamification-element
          width: 120px
          height: 120px
          margin: 0.5em
          display: inline-block
          text-align: center
          border-radius: 20px
          padding: 10px
          border: 2px solid #eee
          overflow: hidden
          line-height: 50px
          cursor: pointer
          display: flex
          flex-direction: column
          justify-content: space-between
          &.gamification-element-selected
            border: 2px solid $brightgreen
          .gamification-element-title
            text-align: center
            font-family: 'Lato', sans-serif
            color: $textpurple
            height: 25%
            font-size: 11px
            margin: 0
            margin-bottom: 4px
          img
            max-width: 100%
            max-height: 65%
            object-fit: contain
            vertical-align: middle
            text-align: center

      countdown
          font-family: 'Digital', monospace
          font-size: 17vw
          display: block
          text-align: center
          cursor: move
          color: var(--danger)
          &:after
            content: "00:00:00"
      progressbar
        width: 100% !important
        padding: 38px
        display: block
        .puzzle-progress
            width: 60% !important
      ranking
        display: block
        margin-top: 15px
        .ranking-table
          width: 100%
          position: relative
          border: 2px solid var(--primary)
          .ranking-row
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            position: absolute
            width: 100%
            height: 75px
            border: 2px solid var(--primary)

            &.ranking-header
              font-weight: bolder
            &.myTeam
              color: var(--success)
            div
              display: flex
              justify-content: center
              align-items: center
              overflow: hidden
              padding: 10px
              b, span
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
            .ranking-team
              width: 20%
            .ranking-members
              flex: 1
            .ranking-res
              width: 10%
            .ranking-time
              width: 15%
            .ranking-pos
              transform: scale(1.5)
      #catalog
        div
          display: flex
          flex-direction: row
          flex-wrap: wrap
      #dialog-config
        display: none
        .config-list
          padding: 15px
          .config-paragraph
            color: $brightgreen
          .puzzle-preview-select
            font-family: Lato !important
            font-size: 18px
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
            input
              vertical-align: middle
              height: 30px
      #dialog-themes
        display: none
        .theme-list
          padding: 5px
          .theme-label
            padding-right: 18px
            color: var(--primary)
          .theme-label:before
            text-transform: capitalize
            content: "Theme: "  attr(data-value)
            color: var(--primary)
          .theme-item
            width: 19.2%
            height: auto
            margin: 0.1%
            background-position: center
            background-size: contain
            display: inline-block !important
            border: 3px solid white
            outline: none
            padding: 5px
            padding-bottom: 0px
            &.selected-theme
              border-color: $brightgreen
            img
              width: 100%
              height: auto

#editDialog
  form
    align-items: center
    display: flex
    flex-direction: column
    padding: 20px
    justify-content: center 
    gap: 1rem
  label
    padding: 10px 10px 0 0
  .submit
    height: 50px
  input[type="checkbox"]
    height: 16px
    margin: 0
  .titleLabelEdit
    font-weight: bold
    color: $textgrey
    padding-bottom: 0.4rem
    margin: 0 0 0.8rem  0
    border-bottom: 1px solid rgb(219, 219, 219)
  .containerBlocksEdit
    max-width: 400px
    min-width: 300px
    display: flex
    flex-direction: column
    gap: 2rem
    margin-bottom: 1rem
.editDialogForm
    display: flex
    flex-direction: row
    gap: 3rem

.editUnit
    display: flex
    flex-direction: row
    gap: 0.8rem
    align-items: center
    input.light:not([type='checkbox'])
      margin-left: 0
      width: 100px
  

.checkBoxEditContainer
  display: flex
  padding-top: 1rem
  flex-direction: row
  gap: 3rem

 


#resourceCatalog
  #text-block-add
    padding: 3px 18px 3px 10px
    margin-bottom: 6px
    display: flex
    align-items: center
    gap: 4px
    height:40px
    p
      margin: 0
      font-size: 18px
  .catalog-container 
    cursor: pointer
    margin-top: 0px
 
  a
    color: black
  scrollbar-width: thin
  scrollbar-color: var(--secondary) var(--bckg)
  overflow-y: auto
  .catalogItem
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0 18px
    border-bottom: 1px $textpurplelessop solid
    gap: 12px
    padding: 0px 0px
    max-height: 46px
    &:last-child
      border-bottom:0px
      margin-bottom: 54px
    .icon-text-container
      display: flex
      gap: 12px
      align-items: center

      overflow: hidden 
      text-overflow: "..." 
      max-height: 45px
      white-space: nowrap 
      -webkit-line-clamp: 1
    .title
      margin: 12px 0
      display: inline-block
      max-width: 50ch
      overflow: hidden
      text-overflow: "..."
      max-height: 27px
      color: rgb(193, 198, 209)
      line-clamp:1
      -webkit-line-clamp: 1
      white-space: nowrap
      font-size: 18px
    .material-icons
      padding: 3px
      border-radius: 3px
    #purple 
      background: rgb(91, 50, 129)
    #blue 
      background: $blue
    #green 
      background: $darkergreen
    #red
      background: $red
    #gray
      background: rgb(75, 82, 87)


  #myTabContent
    background: $darkerpurple
    border-radius: 0px 0px 8px 8px
    border: $textpurplelessop 1px solid
    padding: 8px

  .button-group
    display: flex
    gap: 9px
    align-items: center

  .listButton
    font-size: 16px
    p
      color: white
  .iconButton
    background: none
    border: 0px
    border-radius: 24px
  .editButton
    padding: 5px
    &:hover
      background: $purple
      #edit
        color: white
    &:disabled
      padding: 5px
  .delete-button
    padding: 5px
    &:hover
      background: $darkerred
      #delete
        color: $lightred
  .linkButton
    background: none
    border: 0px
    border-radius: 24px
    padding: 5px
    &:hover
      background: $purple
      #link 
        color: $brighterblue
      .tooltip-link
        display: flex
        position: absolute
        background: $tooltipbg
        border-radius: 3px
        padding: 4px 9px
        color: #dadada
      #link-copied
        display: none
      &:focus-within
        #link-copied
          display: flex
  .addButton
    display: flex
    padding: 0px 16px 0px 6px
    display: flex
    align-items: center
    gap: 6px
    background: $blue
    color: white
    border: 0px
    height: 36px
    &:hover
      background: $darkerbluelessop
    p
      margin: 0
      display: ruby
    span  
      color: white
  .newItemButton
    box-shadow: 0px 0px 40px 12px $darkerpurple



  .tooltip-link
    display: none
    color:rgb(221, 221, 221)
    font-size: 13px
  #link-copied
    background: $darkergreen
  #delete
    color: $red
  #edit
    color: $textgrey
  #link
    color: $brightblue
  #add
    color: white

  .progressElement
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-right: 10px
    gap: 12px
    p
      margin: 12px 0
      max-width: 90ch

  #addItem
    position: sticky
    left: 1000px
    bottom: 10px
    right: 10px
    margin-right: 16px
    font-size: 18px


.indications
  #editor
    color: white
    font-size: 22px
    blockquote
      font-family: Lato, sans-serif
      margin-top: 0px
      margin-bottom: 0px
    a, b, i, strong, em, ul, li, span, u
      font-family: inherit
    pre
      font-family: monospace
.cke_editor
  .cke_editable
    padding: 12px
.cke_reset_all.cke_dialog_container *
  font-family: Lato, sans-serif
.cke_dialog_contents
  *
    font-family: Lato, sans-serif !important
    font: Lato, sans-serif
  input.cke_dialog_ui_input_text, select.cke_dialog_ui_input_select
    border-radius: 0
    height: 30px
    &:active ,&:focus
      border-color: var(--primary) !important
.cke_dialog_ui_button
  border-radius: 0 !important
.cke_toolbar_separator
  background-color: black !important
.cke_combo_button
  border: 1px solid white !important
#cke_bottom_detail,.cke_bottom
  display: none
.cke_panel_block
  background: white
.ql-video
  margin: auto
  display: block
