.userForm
  label, span, input
    font-family: Lato, sans-serif
  button
    font-size: 16px
    height: 36px
.user-edit-form
  color: white
  label, input, select
    color: white !important
    border-color: white !important
    -webkit-text-fill-color: white !important
  .roleField 
    .roleLabel
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: center
      color: white
      input
        width: auto
        color: white
      span
        display: inline-block
        padding: 0px 
        input, select
          width: 100%
          text-align-last: center
          padding: 0px 15px
        label
          span
            padding-bottom: 7px
            text-align: left
            display: block
          &:focus-within
            color: white