<div style="color:white">
    <h1> CREATE NEW PUZZLE </h1> <h2> Puzzle </h2>
    </select>
    <h2>Configuration</h2>
    <form method="POST" action="../reusablePuzzleInstance">
    <select name="reusablePuzzleId">
        <% rPuzzles.map(puzzle => {%>
                <option value="<%=puzzle.id%>"> <%=puzzle.name%></option>
        <%}) %>
        <label> Input </label>
        <input type="text" name="config"/>
        <label> Input </label>
        <input type="text" name="b"/>
        <label> Input </label>
        <input type="text" name="g"/>
        <label> Input </label>
        <input type="text" name="t"/>
        <input type="submit"/>
    </form>
    <button onclick="window.location.replace(document.referrer)">Volver</button>
</div>
