<div style="color:white">
    <h1> CREATE NEW PUZZLE </h1>
    <h2> Puzzle </h2>
    <select>
        <option>Rueda</option>
        <option>A</option>
        <option>Chat</option>
        <option>2d</option>
        <option>A</option>
        <option>A</option>
    </select>
    <h2>Configuration</h2>
    <div style="display:flex;flex-direction:row">
        <p>Clave</p>
        <div style="background:white;height:30px;width:50px"></div>
        <p>Valor</p>
        <div style="background:white;height:30px;width:50px"></div>
    </div>
    <button onclick="history.back()">Volver</button>
</div>
