<div style="color:white">
    <h1> CREATE NEW PUZZLE </h1> <h2> Puzzle </h2>
    </select>
    <h1>Creación de un nuevo puzzle</h1>
    <p> Suba un PDF con el fichero un fichero config.json </p>
    <form method="POST" enctype="multipart/form-data" action="../reusablePuzzles">
        <input type="file" name="upload"/>
        <input type="submit"/>
        <br>
    </form>
    <button onclick="window.location.replace(document.referrer)">Volver</button>
</div>
